.basket .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  padding: 0 15px;
  margin-bottom: 34px;
}
.basket .nav span {
  margin-right: 15px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}
.basket .nav span img {
  width: 6px;
  height: 10px;
}
.basket .nav span a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}
.basket .nav span a:hover {
  color: red;
}
.basket .nav .arrow {
  display: flex;
  align-items: center;
}
.basket .heading {
  padding-left: 15px;
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: -0.07em;
  color: #000000;
}
.basket .main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  padding-left: 20px;
}
.basket .main .basketInfo {
  background: #1199FF;
}
.basket .main .sum {
  background: #E5E5E5;
  box-shadow: -3px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 40px 32px 50px 32px;
  display: flex;
  flex-direction: column;
  width: 472px;
}
.basket .main .sum .weight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
}
.basket .main .sum .weight span:nth-child(1) {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
.basket .main .sum .weight span:nth-child(2) {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.05em;
  color: #000000;
}
.basket .main .sum .fullPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 18px;
  align-items: center;
}
.basket .main .sum .fullPrice span:nth-child(1) {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.05em;
  color: #000000;
}
.basket .main .sum .fullPrice span:nth-child(2) {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.05em;
  color: #000000;
}
.basket .main .sum .sale {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 38px;
  align-items: center;
}
.basket .main .sum .sale span:nth-child(1) {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.05em;
  color: #000000;
}
.basket .main .sum .sale span:nth-child(2) {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.05em;
  color: #FA520F;
}
.basket .main .sum .total {
  margin-top: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.basket .main .sum .total span:nth-child(1) {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
.basket .main .sum .total span:nth-child(2) {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.05em;
  color: #000000;
}
.basket .main .sum .goToOffer {
  text-align: center;
  margin-top: 37px;
  width: 100%;
  background: #C4C4C4;
  border-radius: 5px;
  padding: 22px 0;
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.basket .main .sum .comment {
  margin-top: 11px;
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.05em;
  color: #969696;
}

/*# sourceMappingURL=Basket.module.css.map */
