.basket .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  padding: 0 15px;
  margin-bottom: 34px;
}
.basket .nav span {
  margin-right: 15px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}
.basket .nav span img {
  width: 6px;
  height: 10px;
}
.basket .nav span a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}
.basket .nav span a:hover {
  color: red;
}
.basket .nav .arrow {
  display: flex;
  align-items: center;
}
.basket .heading {
  padding-left: 15px;
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: -0.07em;
  color: #000000;
}
.basket .main {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  padding-left: 20px;
}
.basket .main .basketInfo {
  width: 900px;
  padding-right: 32px;
}
.basket .main .basketInfo .bItem__into {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
}
.basket .main .basketInfo .bItem__into .delete {
  width: 20px;
  height: 20px;
  position: relative;
  transform: translateY(10px);
  cursor: pointer;
}
.basket .main .basketInfo .bItem__into .delete span {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 2px;
  background: #453A35;
  transition: background 0.2s;
}
.basket .main .basketInfo .bItem__into .delete span:nth-child(1) {
  transform: rotate(45deg);
}
.basket .main .basketInfo .bItem__into .delete span:nth-child(2) {
  transform: rotate(-45deg);
}
.basket .main .basketInfo .bItem__into .delete:hover > span {
  background: #FA520F;
}
.basket .main .basketInfo .bItem__into img {
  width: 102px;
  height: 102px;
  margin-left: 10px;
}
.basket .main .basketInfo .bItem__into__group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 106px;
  margin-right: 60px;
  margin-left: 10px;
}
.basket .main .basketInfo .bItem__into__group .holder {
  display: flex;
  flex-direction: column;
}
.basket .main .basketInfo .bItem__into__group .holder span:nth-child(1) {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.07em;
  color: #000000;
}
.basket .main .basketInfo .bItem__into__group .holder span:nth-child(2), .basket .main .basketInfo .bItem__into__group .holder span:nth-child(3) {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.07em;
  color: #453A35;
}
.basket .main .basketInfo .bItem__into__group .like {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.04em;
  color: #AB3100;
  bottom: 0;
}
.basket .main .basketInfo .bItem__into .numbers {
  display: flex;
  flex-direction: column;
  align-self: start;
}
.basket .main .basketInfo .bItem__into .numbers .totalP {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  color: #000000;
}
.basket .main .basketInfo .bItem__into .numbers .fullP {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: line-through;
  color: #000000;
}
.basket .main .basketInfo .bItem__into .numbers .fullPP {
  text-decoration-line: none;
}
.basket .main .basketInfo .bItem__into .numbers .saleP {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FA520F;
}
.basket .main .basketInfo .bItem__into .counter {
  margin-left: auto;
  align-self: start;
  cursor: pointer;
}
.basket .main .basketInfo .bItem__into select {
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: #000000;
  padding: 8px 72px 8px 10px;
  background: url("../../img/Basket/arrow.svg") no-repeat right 8px center;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.basket .main .basketInfo .bItem hr {
  margin: 0;
}
.basket .main .sum {
  background: #E5E5E5;
  box-shadow: -3px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 40px 32px 50px 32px;
  display: flex;
  flex-direction: column;
  width: 472px;
  height: 400px;
}
.basket .main .sum .hr {
  width: 100%;
  height: 1px;
  background: #C4C4C4;
  margin: 0;
}
.basket .main .sum .weight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.basket .main .sum .weight span:nth-child(1) {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
.basket .main .sum .weight span:nth-child(2) {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.05em;
  color: #000000;
}
.basket .main .sum .fullPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 18px;
  align-items: center;
}
.basket .main .sum .fullPrice span:nth-child(1) {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.05em;
  color: #000000;
}
.basket .main .sum .fullPrice span:nth-child(2) {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.05em;
  color: #000000;
}
.basket .main .sum .sale {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 28px;
  align-items: center;
}
.basket .main .sum .sale span:nth-child(1) {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.05em;
  color: #000000;
}
.basket .main .sum .sale span:nth-child(2) {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.05em;
  color: #FA520F;
}
.basket .main .sum .total {
  margin-top: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.basket .main .sum .total span:nth-child(1) {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
.basket .main .sum .total span:nth-child(2) {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.05em;
  color: #000000;
}
.basket .main .sum .goToOffer {
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
  width: 100%;
  background: #FA520F;
  border-radius: 5px;
  padding: 22px 0;
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.basket .main .sum .comment {
  margin-top: 11px;
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.05em;
  color: #969696;
}

.ban {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.ban h1 {
  margin: 200px 0;
  font-family: "JetBrains Mono", sans-serif;
}

/*# sourceMappingURL=Basket.module.css.map */
