.nav-tabs {
  overflow: hidden;
}
.nav-tabs .nav-item .nav-link:after {
  content: " ";
  height: 9px;
  width: calc(100% + 100px);
  background: #FA520F;
  position: absolute;
  bottom: -15px;
  border-radius: 10px;
  left: -50px;
  opacity: 0;
  transition: ease-out opacity 0.7s;
}

.nav-tabs .nav-item .nav-link.active:after {
  opacity: 1;
}

#clicker .greyBox {
  background: #C4C4C4;
  border-radius: 6px;
  width: 100%;
  text-align: center;
  padding: 17px 0;
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 16px;
}
#clicker .holder {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}
#clicker .holder a {
  text-decoration: none;
}
#clicker .holder .first {
  height: 50px;
  background: #C4C4C4;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  text-decoration: none;
}
#clicker .holder .first span:nth-child(1) {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
#clicker .holder .first span:nth-child(2) {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}
#clicker .holder .main {
  height: 50px;
  border: 1px solid #C4C4C4;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#clicker .holder .main .sign {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #C4C4C4;
  border-radius: 6px;
}
#clicker .holder .main .count {
  font-family: Open Sans, sans-serif;
  width: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  text-align: center;
}
#clicker .holder .last {
  width: 50px;
  height: 50px;
  background: #C4C4C4;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#clicker .holder .last img {
  width: 22px;
  height: 21px;
}

.sasuNaru {
  height: 33px;
}
.sasuNaru .greyBox {
  width: 101px;
  height: 33px;
  background: #C4C4C4;
  border-radius: 5px;
  border: none;
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -0.045em;
  color: #000000;
  margin-left: 2px;
  margin-bottom: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sasuNaru .holder {
  margin-left: 2px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: normal;
  margin-bottom: 0;
}
.sasuNaru .holder a {
  text-decoration: none;
}
.sasuNaru .holder .first {
  display: none;
}
.sasuNaru .holder .main {
  height: 33px;
  border: 1px solid #C4C4C4;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sasuNaru .holder .main .sign {
  width: 33px;
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #C4C4C4;
  border-radius: 6px;
}
.sasuNaru .holder .main .count {
  font-family: Open Sans, sans-serif;
  width: 33px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  text-align: center;
}
.sasuNaru .holder .last {
  display: none;
}

/*# sourceMappingURL=SUKA.css.map */
